footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background: linear-gradient(rgba(15,15,15,.7), rgba(15,15,15,.9));

}
footer .row div{
    padding-bottom: 20px;
}

footer input, footer textarea{
    width: 100%;
    padding: 10px;
    background: #efefef;
    color: #0f0f0f;
    outline: none;
    box-shadow: none;
    border: none;
    resize: none;
}

footer input:focus, footer textarea:focus {
    outline: none!important;
    border: none!important;
}

footer textarea {
    height: 100px;
}

footer button {
    width: 100%;
}