/*
    #caebf2 - sky
    #a9a9a9 - carbon
    #ff3b3f - watermellon
    #efefef - neutral
*/

.survey-box {
    height: 300px;
}
.margin-top-md {
    margin-top: 40px;
}
.survey-box-inside:hover {

    transform: scale(1.05);
    transition: 0.1s transform ease;
}
.survey-box-inside {
    height: 90%;
    background: #f7f7f7;
    border: 1px solid #bdbdbe;
    transition: 0.1s transform ease;
    padding-bottom: 0!important;
}

.survey-box-inside > div {
    max-height: calc(300px - 12%);
    overflow: hidden;
}
.survey-box p {
    overflow: hidden;
}

.onlyBottomBorder, .ui-inputnumber > input, .ui-calendar > input, .ui-spinner > input {
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #bdbdbe;
    padding: 0px 10px;
    border-radius: 0;
}

.onlyBottomBorder:focus, .ui-inputnumber > input:focus, .ui-calendar > input:focus, .ui-spinner > input:focus {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.survey-box-inside > .action-with-survey {
    z-index: 11;
    padding-top: 6%;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    background: rgba(255,255,255, .9);
    height: 100%;
    width: 100%;
    transition: 0.1s opacity linear;
}
.survey-box-inside > .action-with-survey .btn {
    margin-top: 10px;
}
@media (min-width: 768px) {
    .survey-box-inside:hover > .action-with-survey {
        opacity: 1;
        transition: 0.1s opacity linear;

    }
}
@media (max-width: 767px) {
    .survey-box-inside:active > .action-with-survey {
        opacity: 1;
        transition: 0.1s opacity linear;
    }
    .robot {
        visibility: hidden;
    }
    .action-with-survey a {
        pointer-events: none;

    }
    .action-with-survey.active a {
        pointer-events: auto;
    }
    .action-with-survey.active {
        opacity: 1;
        transition: 0.1s opacity linear;
    }
    .action-with-survey .link {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .action-with-survey .link-copy {
        margin-top: 0!important;
    }
    .action-with-survey .link-copy:before {
        text-align: left;
    }
    .action-with-survey .row {
        border: none!important;
    }
}
.description-fade {
    z-index: 10;
    position: absolute;
    bottom:0;
    left: 0;
    height: 25%;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0,0,0,0), #f7f7f7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), #f7f7f7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), #f7f7f7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), #f7f7f7); /* Standard syntax */
}

.ui-messages-info, .ui-messages-error  {
    color: #ff3b3f!important;
    background: transparent!important;
    border-radius: 0!important;
    border: none!important;
    padding-bottom: 0!important;
}

.ui-messages-info ul {
    margin: 0!important;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon {
    visibility: hidden!important;
    display: none!important;
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
    margin-left: 0!important;
    font-weight: 300!important;
}

body {
    background: linear-gradient(#29bf89, #0083BB)!important;
}
.box-shadow {
    padding-bottom: 40px;
    background: #f7f7f7;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.section {
    margin-bottom: 30px!important;
}

.box-shadow {
    padding-bottom: 40px;
    background: #f7f7f7;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.section {
    margin-bottom: 30px!important;
}

body {
    background: linear-gradient(#29bf89, #0083BB)!important;
}
.box-shadow {
    padding-bottom: 40px;
    background: #f7f7f7;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.section {
    margin-bottom: 30px!important;
}

.edit-button, .edit-button:focus, .edit-button:hover {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.edit-button span {
    visibility: hidden;
    height: 0;
    width: 0;
    display: none;
}

.ui-messages-error {
    padding: 0 !important;
}
.ui-messages-error ul {
    margin: 0 !important;
}

.error-message {
    color: #F74356;
}
.confirm-message {
    color: #29bf89;
}

.confirm-message li, .error-message li, li.error-message, li.confirm-message {
    list-style-type: none;
    margin-left: -40px;
}

.error-page .error-message, .success-page .confirm-message {
    color: #7e8d85;
}

.btn.btn-lg.action {
    font-weight: normal!important;
}

.disabledtrue > span {
    opacity: 0.3;
    cursor: not-allowed;
}

.ui-spinner-down, .ui-spinner-up {
    display: none;
    visibility: hidden;
    opacity: 0;
}