input, .ui-inputfield {
    width: 100%;
    padding: 10px !important;
    box-shadow: none !important;
    background: none;
    border: 1px solid #bdbdbe;
    font-weight: 300 !important;
    margin-bottom: 30px !important;
}

.error-message {
    color: #F74356;
}
.confirm-message {
    color: #29bf89;
}

.confirm-message li {
    list-style-type: none;
    margin-left: -40px;
}
input[readonly="readonly"] {
    background: #efefef;
}